<h1>Listing services</h1>

<table>
  <tr>
    <th>Organizer</th>
    <th>Provider</th>
    <th>Uid</th>
    <th>Uname</th>
    <th>Uemail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.organizer_id %></td>
    <td><%= service.provider %></td>
    <td><%= service.uid %></td>
    <td><%= service.uname %></td>
    <td><%= service.uemail %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
