<p id="notice"><%= notice %></p>

<p>
  <b>Organizer:</b>
  <%= @service.organizer_id %>
</p>

<p>
  <b>Provider:</b>
  <%= @service.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @service.uid %>
</p>

<p>
  <b>Uname:</b>
  <%= @service.uname %>
</p>

<p>
  <b>Uemail:</b>
  <%= @service.uemail %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
