<div class="container round">

<h2>Sign up</h2>

<% flash.each do |name, msg| %>
  <% if msg.class == Array %>
    <% msg.each do |message| %>
      <%= content_tag :p, message, :id => "notice" %>
    <% end %>
  <% else %>
    <%= content_tag :p, msg, :id => "notice" %>
  <% end %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :class => "round quarter3rd", :onfocus => 'this.style.color="#666"' %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :class => "round quarter3rd", :onfocus => 'this.style.color="#666"' %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class => "round quarter3rd", :onfocus => 'this.style.color="#666"' %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "round quarter3rd", :onfocus => 'this.style.color="#666"' %></div>

  <div><%= f.label :authorization_code %><br />
  <%= f.password_field :authorization_code, :class => "round quarter3rd", :onfocus => 'this.style.color="#666"' %></div>

  <div><%= f.submit "Sign up", :class => "round devise" %></div>
<% end %>

</div>

<%= render "devise/shared/links" %>
