<div class="container round">

<h2>Resend unlock instructions</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :class => "round quarter3rd", :onfocus => 'this.style.color="#666"' %></div>

  <div><%= f.submit "Resend unlock instructions", :class => "round devise" %></div>
<% end %>

</div>

<%= render "devise/shared/links" %>
