<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <%= f.fields_for :schedules do |s| %>
      <%= s.hidden_field :table, value: s.object.table %>
      <%= s.fields_for :results do |r| %>
        <tr>
          <th><%= r.object.participant.player.name %></th>
          <td><%= r.label :opponent_id, " vs " %></td>
          <td><%= r.select(:opponent_id, @participants.collect {|p| [p.player.name, p.id]}) -%></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div class="actions">
    <%= f.submit "Update Schedule" %>
  </div>
<% end %>
