<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :schedules do |s| %>
    <%= s.fields_for :results do |r| %>
      <b><%= r.object.participant.player.name %></b>
      <div class="field">
        <%= r.label :opponent_id, "vs" %><br />
        <%= r.select(:opponent_id, @participants.collect {|p| [p.player.name, p.id]}) -%>
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
