<% content_for(:head) do %>
  <style type="text/css">
    #defaultCountdown { width: 960px; height: 270px; margin: auto; }
    #year { color: #fff; font-size: 0pt; }
  </style>
  <script type="text/javascript">
    $(function () {
      var austDay = new Date();
      austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
      $('#defaultCountdown').countdown({until: '<%= params[:timer] %>'});
      $('#year').text(austDay.getFullYear());
    });
  </script>
<% end %>

<div class="page-header">
  <h1>Round <%= @round.number %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Timer:</strong></dt>
  <dd>Refresh to reset</dd>
</dl>

<div id="defaultCountdown"></div>
<span id="year"></span>

<h2>Tournament Standings</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Place</th>
      <th>Player</th>
      <th>Prestiges</th>
      <th>Match points</th>
      <th>Head to Head</th>
      <th>Strength of Schedule</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>

    <% @round.tournament.participants.sort_by(&:place).each do |participant| %>
      <% unless participant == @participant_bye %>
        <tr>
          <td><%= participant.place %></td>
          <td><%= participant.name %></td>
          <td><%= participant.prestiges %></td>
          <td><%= participant.game_points %></td>
          <td><%= participant.head_to_head %></td>
          <td><%= participant.prestige_strength %> (<%= participant.points_strength %>)</td>
          <td><%= (participant.rating + participant.rating_scores).round %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Round Schedule</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Table</th>
      <th>Player 1</th>
      <th>Player 2</th>
    </tr>
  </thead>
  <tbody>

    <% @round.schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.table %></td>
        <% schedule.results.each do |result| %>
          <td><b><%= result.participant.name %></b></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
