<div class="page-header">
  <h1>Tournament Navigator</h1>
</div>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tournament Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament %></td>
        <td><%= tournament.state %></td>
        <td>
          <%= link_to 'Edit', edit_tournament_path(tournament), :class => 'btn btn-mini' unless tournament.state == "Tournament is closed." %>
          <%= link_to 'Delete', tournament, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' unless tournament.state == "Tournament is closed." %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a New Tournament', new_tournament_path, :class => 'btn btn-primary' %>
