<% content_for(:nav) do %>
  <% unless @tournament.state == "Tournament is closed." %>
    <li><%= link_to 'Edit Tournament Details', edit_tournament_path(@tournament) %></li>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Tournament: <%= @tournament.name %></h1>
</div>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<dl class="dl-horizontal">
  <dt><strong>Status:</strong></dt>
  <dd><%= @tournament.state %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Schedule', new_round_path(:tournament => @tournament.id), :class => 'btn' if @rounds.empty? and @tournament.state != "Tournament is closed." %>
  <%= link_to 'Schedule', new_round_path(:tournament => @tournament.id), data: { confirm: 'This action would erase all rounds and players standings in the tournament. Do you want to proceed?' }, :class => 'btn' unless @rounds.empty? or @tournament.state == "Tournament is closed." %>
  <%= link_to 'Close', edit_tournament_path(@tournament, :trigger => "Close"), data: { confirm: 'This action would terminate all unfinished rounds and propagate tournament score table into players score table. Do you want to proceed?' }, :class => 'btn' unless @rounds.empty? or @tournament.state == "Tournament is closed." %>
</div>

<h2>Rounds</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Round</th>
      <th>Start</th>
      <th>End</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% @rounds.sort_by(&:number).each do |round| %>
      <tr>
        <td><%= "Round " + round.number.to_s %></td>
        <td><%= round.start %></td>
        <td><%= round.end %></td>
        <td><%= round.state %></td>
        <td><%= link_to round.action, new_schedule_path(:round => round.id, :trigger => round.action), :class => 'btn btn-mini' if round.action == "Schedule" %><%= link_to round.action, edit_round_path(round, :trigger => round.action), :class => 'btn btn-mini' if round.action == "Start" or round.action == "End" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Registered Players and Tournament Standings</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Place</th>
      <th>Player</th>
      <th>Prestiges</th>
      <th>Match points</th>
      <th>Matches</th>
      <th>Omw%</th>
      <th>Pgw%</th>
      <th>Ogw%</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% @participants.sort_by(&:place).each do |participant| %>
      <tr>
        <td><%= participant.place %></td>
        <td><%= participant.player.name %></td>
        <td><%= participant.prestiges %></td>
        <td><%= participant.match_points %></td>
        <td><%= participant.matches %></td>
        <td><%= number_with_precision participant.omw, :precision => 2 %></td>
        <td><%= number_with_precision participant.pgw, :precision => 2 %></td>
        <td><%= number_with_precision participant.ogw, :precision => 2 %></td>
        <td><%= link_to 'Remove', participant, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' unless @tournament.state == "Tournament is closed." %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a New Participant', new_participant_path(:tournament => @tournament.id), :class => 'btn btn-primary' unless @tournament.state == "Tournament is closed." %>

<h2>Round schedule and results</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Round</th>
      <th>Table</th>
      <th>Player 1</th>
      <th>Prestige</th>
      <th>Corp Match Points</th>
      <th>Runner Match Points</th>
      <th>Player 2</th>
      <th>Prestige</th>
      <th>Corp Match Points</th>
      <th>Runner Match Points</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% @rounds.sort_by(&:number).each do |round| %>
      <tr>
        <td colspan ="10"><%= "Round " + round.number.to_s %></td>
        <td><%= link_to 'Manual Schedule', edit_schedule_path(round, :trigger => "Manual"), :class => 'btn btn-mini' if round.state == "Not Scheduled" %><%= link_to 'Modify Schedule', edit_schedule_path(round, :trigger => "Modify"), :class => 'btn btn-mini' if round.state == "Ready" or round.state == "In Progress" %></td>
      </tr>
      <% round.schedules.each do |schedule| %>
        <% r = schedule.results.first %>
        <tr>
          <td><%= round.number %></td>
          <td><%= schedule.table %></td>
          <% schedule.results.each do |result| %>
            <% r = result %>
            <td><b><%= result.participant.player.name %></b></td>
            <td><%= result.prestige %></td>
            <td><%= result.corp_match_points %></td>
            <td><%= result.runner_match_points %></td>
          <% end %>
          <td><%= link_to 'Update Result', edit_result_path(schedule, :tournament => @tournament.id), :class => 'btn btn-mini' if round.state == "In Progress" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />
