<%= form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @schedule.errors.any? %>
    <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <% flag = true %>
    <%= f.fields_for :results do |r| %>
      <div class="row">
        <div class="span4">
          <div class="control-group">
            <%= r.label :corp_match_points, r.object.participant.player.name + "'s Match Points as Corporation", :class => 'control-label' if flag %>
            <%= r.label :runner_match_points, r.object.participant.player.name + "'s Match Points as Runner", :class => 'control-label' unless flag %>
            <div class="controls">
              <%= r.number_field :corp_match_points, :autofocus => true, :class => 'number_field' if flag %>
              <%= r.number_field :runner_match_points, :class => 'number_field' unless flag %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="control-group">
            <%= r.label :runner_match_points, r.object.participant.player.name + "'s Match Points as Runner", :class => 'control-label' if flag %>
            <%= r.label :corp_match_points, r.object.participant.player.name + "'s Match Points as Corporation", :class => 'control-label' unless flag %>
            <div class="controls">
              <%= r.number_field :runner_match_points, :class => 'number_field' if flag %>
              <%= r.number_field :corp_match_points, :class => 'number_field' unless flag %>
            </div>
          </div>
        </div>
      </div>
      <% flag = false %>
    <% end %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary', :onclick => "$(body).addClass('loading');" %>
    <%= link_to 'Cancel', @tournament, :class => 'btn' %>
  </div>
<% end %>
