<%= form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @schedule.errors.any? %>
    <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.fields_for :results do |r| %>
      <div class="control-group">
        <%= r.label :corp_match_points, r.object.participant.player.name + "'s Match Points as Corporation", :class => 'control-label' %>
        <div class="controls">
          <%= r.number_field :corp_match_points, :class => 'number_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= r.label :runner_match_points, r.object.participant.player.name + "'s Match Points as Runner", :class => 'control-label' %>
        <div class="controls">
          <%= r.number_field :runner_match_points, :class => 'number_field' %>
        </div>
      </div>
    <% end %>
</fieldset>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary', :onclick => "$(body).addClass('loading');" %>
    <%= link_to 'Cancel', @tournament, :class => 'btn' %>
  </div>
<% end %>
