<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_id %><br />
    <%= f.number_field :schedule_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :corp_match_points %><br />
    <%= f.number_field :corp_match_points %>
  </div>
  <div class="field">
    <%= f.label :runner_match_points %><br />
    <%= f.number_field :runner_match_points %>
  </div>
  <div class="field">
    <%= f.label :prestige %><br />
    <%= f.number_field :prestige %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
