<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :results do |r| %>
    <b><%= r.object.participant.player.name %>:</b>
    <div class="field">
      <%= r.label :corp_match_points, "Match Points as Corporation" %><br />
      <%= r.number_field :corp_match_points %>
    </div>
    <div class="field">
      <%= r.label :runner_match_points, "Match Points as Runner" %><br />
      <%= r.number_field :runner_match_points %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
