<h1>Listing competitors</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Competitor</th>
    <th>Matches</th>
    <th>Prestiges</th>
    <th>Game points</th>
    <th>Net rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitors.each do |competitor| %>
  <tr>
    <td><%= competitor.player_id %></td>
    <td><%= competitor.competitor_id %></td>
    <td><%= competitor.matches %></td>
    <td><%= competitor.prestiges %></td>
    <td><%= competitor.game_points %></td>
    <td><%= competitor.net_rating %></td>
    <td><%= link_to 'Show', competitor %></td>
    <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
    <td><%= link_to 'Destroy', competitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competitor', new_competitor_path %>
