<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @competitor.player_id %>
</p>

<p>
  <b>Competitor:</b>
  <%= @competitor.competitor_id %>
</p>

<p>
  <b>Matches:</b>
  <%= @competitor.matches %>
</p>

<p>
  <b>Prestiges:</b>
  <%= @competitor.prestiges %>
</p>

<p>
  <b>Game points:</b>
  <%= @competitor.game_points %>
</p>

<p>
  <b>Net rating:</b>
  <%= @competitor.net_rating %>
</p>


<%= link_to 'Edit', edit_competitor_path(@competitor) %> |
<%= link_to 'Back', competitors_path %>
