<div class="page-header">
  <h1>All Players Listings</h1>
</div>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hacking License</th>
      <th>Email</th>
      <th>Name</th>
      <th>Prestiges</th>
      <th>Match Points</th>
      <th>Matches</th>
      <th>Tournaments</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    
    <% @players.each do |player| %>
      <tr>
        <td><%= player.username %></td>
        <td><%= player.email %></td>
        <td><%= player.name %></td>
        <td><%= player.prestiges %></td>
        <td><%= player.match_points %></td>
        <td><%= player.matches %></td>
        <td><%= player.tournaments %></td>
        <td>
          <%= link_to 'Edit', edit_player_path(player), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a New Player', new_player_path, :class => 'btn btn-primary' %>
