<h1>All Players Listings</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Hacking License</th>
    <th>Email</th>
    <th>Name</th>
    <th>Prestiges</th>
    <th>Match Points</th>
    <th>Matches</th>
    <th>Tournaments</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.username %></td>
    <td><%= player.email %></td>
    <td><%= player.name %></td>
    <td><%= player.prestiges %></td>
    <td><%= player.match_points %></td>
    <td><%= player.matches %></td>
    <td><%= player.tournaments %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Player', new_player_path %> |
<%= link_to 'Back', :back %>
