<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Prestiges:</b>
  <%= @player.prestiges %>
</p>

<p>
  <b>Match Points:</b>
  <%= @player.game_points %>
</p>

<p>
  <b>Matches:</b>
  <%= @player.matches %>
</p>

<p>
  <b>Tournaments:</b>
  <%= @player.tournaments %>
</p>

<p>
  <b>Rating:</b>
  <%= @player.rating.round %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
