<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %>
</div>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Prestiges:</b>
  <%= @player.prestiges %>
</p>

<p>
  <b>Match Points:</b>
  <%= @player.match_points %>
</p>

<p>
  <b>Matches:</b>
  <%= @player.matches %>
</p>

<p>
  <b>Tournaments:</b>
  <%= @player.tournaments %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
